{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}
{% block page_heading %}Welcome To Your Issue Tracker{% endblock %}
{% block content %}
    
<div class="intro">    
<p> Here you can.....</p>
<ul>
    <li>Report your bugs and issues. FREE</li>
    <li>Upvote bugs and issues, showing that you have this issue too. FREE</li>
    <li>Submit features that you wish to be developed. PAID</li>
    <li>Upvote features for £20 each vote, showing you want that feature too. You can buy as many votes as you wish. PAID</li>
</ul>
<p>The higher the upvote number is, the higher priority for implementing new features or fixing bugs.</p>
</div>

<div class="promise_section">
<h2 class="promise">My Promise To You</h2>
<p>I promise to always spend at least 50% of my time working on developing the highest-paid feature.</p>
</div>
{% endblock %}