{% extends 'base.html' %} {% block page_title %}Features Page{% endblock %} {% block page_heading %}<i class="fas fa-star"></i>Current List of Features Tickets{% endblock %} {% block content %} 

<a class="waves-effect waves-light btn"><i class="material-icons">add</i>Add</a>
{% for feature in features %}
<div class="row">
    <div class="col s12 m6">
        <div class="card white">
            <div class="card-content blue-grey-text">
                <span class="card-title"><span class="badge">Views: {{ feature.views }}</span>{{ feature.name }}</span>
                <p><span class="badge">Funds: {{ feature.upvotes }}</span>{{ feature.description }}</p>
            </div>
            <div class="card-action">
                <a href="#">View more</a>
                <a href="#">Vote</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<a class="waves-effect waves-light btn"><i class="material-icons right">network_check</i>View Graphs</a> {% endblock %}
