{"filter":false,"title":"requirements.txt","tooltip":"/unicorn_attractor/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1559402016875,"hash":"5f393f31c6e0a1b2193072576b2d9f1223d2eaf0"}